<h1>Ok, Now for the fun stuff</h1>

<button id="roll" class="btn btn-light btn-lg btn-block" (click)="getNewRoll(1,20)">Generate Random Value <span class="badge badge-dark" id="count">0</span></button>

<div class="card" style="width: 18rem; margin-left: 41%; margin-top: 7%;">
    <img class="card-img-top" [src]=getPicture() alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">20-Sided Dice Generator</h5>
      <p class="card-text" id="result">Click button to generate value for 20-sided dice</p>

    </div>
  </div>



